<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gwnu.tutorial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity android:name=".dagger2.SampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".material.MaterialMainActivity">

        </activity>

        <activity android:name=".material.MaterialTutorial">

        </activity>

        <activity android:name=".retrofit2.JavaRetrofitTutorial" />
        <activity android:name=".zxing.QrGeneratorTuto" />
        <activity android:name=".room.RoomTuto" />
        <activity android:name=".MotionTuto.MotionTutorial" />
        <activity android:name=".DotViewPager.ViewPagerTuto" />
        <activity android:name=".login.KakaoLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao{6c88665a9783487414061ef89e57bd22}" />
            </intent-filter>
        </activity>
        <activity android:name=".barcode.QRScanResultActivity" />
        <activity android:name=".CouponList.CouponListActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".barcode.BarcodeMainActivity" />
        <activity android:name=".barcode.CustomScannerActivity" />
        <activity
            android:name=".login.LoginMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".login.LoginResultActivity" />
    </application>

</manifest>